html {
    font-family: "Cormorant Upright", serif;


  h1{
        color: beige;
        text-align: center;
}
    }
    body{
                background-image: url(../assets/oceangif.gif);
                background-size: cover;
                background-attachment: fixed;
  }

  p{
    color: beige;
    text-align: center;
  }

  
}